@font-face {
  font-family: 'BitterMind';
  src: url('../../assets/fonts/BitterMind/BitterMind.otf') format('otf'),
       url('../../assets/fonts/BitterMind/BitterMind.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optimizes font loading behavior */
}
